.main-nav {
	background-color: #005CC8;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #fff;
	li {
		display: inline-block;
	}
	.credits{
		color: #d0d0d0
	}
	.title {
		margin-bottom: 5px;
		font-size: 42px;
	}
}
